{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sion Marcelyo Gunawan | Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

    <header class="navbar">
        <div class="logo">IT</div>
        <nav>
            <a href="#about">About</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Experience</a>
            <a href="#education">Education</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    <main>
        <section class="hero">
            <div class="hero-text">
                <p class="label">Website Portofolio</p>
                <h1>Sion Marcelyo Gunawan</h1>
                <p class="description">
                   DevOps Enthusiast | Passionate about DevOps & Cloud Infrastructure<br>
                </p>
                <a href="#contact" class="btn">Contact Me</a>
            </div>

            <div class="hero-image">
                <img src="{% static 'images/profile.png' %}" alt="Profile Photo" class="profile-image">
            </div>
        </section>

        <section id="about" class="about-section">
            <div class="about-container">

                <div class="about-left">
                    <p class="section-label">About Me</p>

                    <h2>
                        Information Technology Student
                    </h2>

                    <p class="about-description">
                    I am a first-year Information Technology student with a strong interest in DevOps engineering and cloud infrastructure. I am passionate about understanding how systems work behind the scenes.
                    </p>

                <div class="experience-box">
                    <span class="experience-number">01</span>
                    <span class="experience-text">Year Of<br>Learning Experience</span>
                </div>
            </div>

                <div class="about-right">
                    <p class="small-title">Let’s Talk With Me</p>

                    <h3>
                        Open For Collaboration <br> & Discussion
                    </h3>

                    <p class="about-text">
                    Saya terbuka untuk berdiskusi mengenai project, pembelajaran,
                    maupun pengembangan website sederhana menggunakan teknologi web.
                    </p>

                    <a href="#contact" class="email-link">
                        sionmg93@gmail.com
                        <span>→</span>
                    </a>
                </div>
            </div>
        </section>

        <section id="skills" class="section skills-section">
            <p class="label">Keterampilan</p>
            <h2>Skills</h2>

            <div class="skills-logo-grid">

                {% for skill in skills %}
                    <div class="skill-logo-card">
                        <img src="{% static skill.image_path %}" alt="{{ skill.name }}">
                        <h3>{{ skill.name }}</h3>
                    </div>
                {% empty %}
                    <p>Belum ada data skill.</p>
                {% endfor %}

            </div>
        </section>

        <section id="projects" class="section experience-section">

            <p class="label">Pengalaman</p>
            <h2>Experience</h2>
            <h4>Swipe to the right -- ></h4><br>

            <div class="experience-scroll">

                {% for experience in experiences %}
                    <div class="experience-card">
                        <img src="{% static experience.image_path %}" alt="{{ experience.title }}">

                        <div class="experience-overlay">
                            <h3>{{ experience.title }}</h3>
                            <h4>{{ experience.period }}</h4>

                            <p>
                                {{ experience.description }}
                            </p>

                            {% if experience.points.all %}
                                <ul class="experience-list">
                                    {% for point in experience.points.all %}
                                        <li>
                                            <strong>{{ point.label }}</strong>: {{ point.text }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if experience.links.all %}
                                <div class="experience-links">
                                    <strong>Links<br></strong><br>

                                    {% for link in experience.links.all %}
                                        <a href="{{ link.url }}" target="_blank">
                                            {{ link.title }}
                                        </a><br>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                    <p>Belum ada data experience.</p>
                {% endfor %}

            </div>

        </section>

        <section id="education" class="section education-section">

            <p class="label">Pendidikan</p>

            <h2>Education</h2>

            <div class="education-timeline">

                {% for education in educations %}
                    <div class="education-card">
                        <div class="education-year">
                            {{ education.year }}
                        </div>

                        <div class="education-content">
                            <div>
                                <h3>{{ education.institution }}</h3>

                                <p class="education-major">
                                    {{ education.major }}
                                </p>
                            </div>

                            <div class="education-logo">
                                <img src="{% static education.logo_path %}" alt="{{ education.institution }}">
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>Belum ada data education.</p>
                {% endfor %}

            </div>

        </section>

        <section id="contact" class="section contact-section">

            <p class="label">Contact</p>

            <h2>Let's Connect !!</h2>

            <div class="contact-icons">

                {% for contact in contact_links %}
                    <a href="{{ contact.url }}" target="_blank" class="contact-icon">
                        <i class="{{ contact.icon_class }}"></i>
                    </a>
                {% empty %}
                    <p>Belum ada data contact.</p>
                {% endfor %}

            </div>

        </section>
    </main>

</body>
</html>